<h1>Fotos Feed!</h1>

<% if @fotos.empty? %>
  <h3>No Fotos Yet</h3>

<% else %>
  <div>
    <% @fotos.each do |foto| %>
      <div>
	    <h3><%= foto.name %></h3>
	    <%= link_to (image_tag foto.image, class: 'foto'), foto %>
	  </div>
    <% end %>
  </div>
<% end %>