<h1 class="display-4">My Fotos</h1>

<% if @fotos.empty? %>
  No Fotos

<% else %>
<div class="card-columns">
    <% @fotos.each do |foto| %>
      <div class="card">
	    <%= link_to (image_tag foto.image, class: "card-img-top"), foto %>
	      </div>
    <% end %>
  </div>
<% end %>
